<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card text-center bg-primary">
                <div class="card-body">
                    <h1>Bem vindo à plataforma de Farmácias</h1>
                </div>
            </div >
            <div class="text-center">
                <img class="img-responsive center-block homeImage workBox" 
                src="assets/img/home2.gif" width="30%" align="middle">
            </div>
        </div>
    </div>
</div>

