<div class="card">
    <form (ngSubmit)="create()">
        <div class="card-header">
            Criar uma receita
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-success" [disabled]="!form.utente || form.prescricoes.length == 0 || loading">
                        <i class="fa fa-save" *ngIf="!loading"></i>
                        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                        Guardar
                    </button>
                    <button type="button" (click)="addPrescription()" class="btn btn-primary" [disabled]="loading">
                            <i class="fa fa-plus" *ngIf="!loading"></i>
                            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                        Adicionar prescrição
                    </button>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="form-group row">
                        <label for="utente" class="col-md-2 col-sm-4"><strong>Utente:</strong></label>
                        <div class="col-md-4 col-sm-8">
                            <select name="utente" id="utente" class="form-control" [(ngModel)]="form.utente">
                                <option *ngFor="let utente of utentes" [ngValue]="utente._id">{{utente.name}}</option>
                            </select>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="row mt-3">
                <div class="col">
                    <table class="table table-bordered table-stripped table-responsive">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Fármaco</th>
                                <th>Apresentação</th>
                                <th>Medicamento</th>
                                <th>Posologia</th>
                                <th>Quantidade</th>
                                <th>Data de validade</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tr *ngIf="form.prescricoes.length == 0" class="text-center">
                            <td colspan="7">Ainda não adicionou prescrições</td>
                        </tr>
                        <tr *ngFor="let prescricao of form.prescricoes; let number = index">
                            <td>{{prescricao.nomeFarmaco}}</td>
                            <td>{{prescricao.apresentacao}}</td>
                            <td>{{prescricao.nomeMedicamento}}</td>
                            <td>{{prescricao.posologia}}</td>
                            <td>{{prescricao.quantidade}}</td>
                            <td>{{prescricao.dataValidade | formatDate}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" (click)="editPrescription(number)">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button type="button" class="btn btn-danger" (click)="deletePrescription(number)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>