<div class="animated fadeIn">
        <div class="row">
                <div class="col-sm-6">
                        <div class="card">
                          <div class="card-block">
                                <small class="text-muted text-uppercase font-weight-bold">Prescrições Aviadas</small>
                            <div class="h1 text-muted text-right mb-2">
                              <i class="fa fa-user-o"></i>
                            </div>
                            <div class="h4 mb-0">{{aviamentos}}</div>
                            <small class="text-muted text-uppercase font-weight-bold">{{user.name}}</small>
                            <div class="progress progress-xs mt-1 mb-0">
                              <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                        </div>
                      </div><!--/.col-->

                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-block">
                                <small class="text-muted text-uppercase font-weight-bold">Medicamento mais aviado</small>
                            <div class="h1 text-muted text-right mb-2">
                              <i class="fa fa-plus-square"></i>
                            </div>
                            <div class="h4 mb-0">{{med.medicamento}}</div>
                            <small class="text-muted text-uppercase font-weight-bold">{{med.quantidade}} aviados</small>
                            <div class="progress progress-xs mt-1 mb-0">
                              <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                        </div>
                      </div><!--/.col-->
            </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    Prescrições
                </div>
                <div class="card-body">
                    <div class="chart-wrapper text-center">
                        <i class="fa fa-spin fa-spinner" *ngIf="pies.prescricoes.loading"></i>
                        <canvas baseChart class="chart" [data]="pies.prescricoes.data" [labels]="pies.prescricoes.labels" chartType="doughnut" *ngIf="!pies.prescricoes.loading"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    Stocks
                </div>
                <select name="farmacia" class="form-control" [(ngModel)]="model.farmaciaName" 
                    placeholder="farmaciaName" (ngModelChange)="loadStocks()" size >
                    <option *ngFor="let farmacia of farmacias" [ngValue]="farmacia.name">{{farmacia.name}}</option>
                </select>
                <div class="card-body">
                    <div class="chart-wrapper text-center">
                        <i class="fa fa-spin fa-spinner" *ngIf="pies.stocks.loading"></i>
                        <canvas baseChart class="chart-bar" 
                        [data]="pies.stocks.data" 
                        [labels]="pies.stocks.labels"
                        [options]="pies.stocks.options"
                        chartType="bar" 
                        *ngIf="!pies.stocks.loading"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>