<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group mb-0">
                    <div class="card p-4">
                        <div class="card-body">
                            <form (ngSubmit)="login()">
                                    <div class="text-center">
                                            <img class="img-responsive center-block homeImage workBox" 
                                            src="assets/img/logo.png" width="30%" align="middle">
                                            <h1>Iniciar sessão</h1>
                                        </div>
                                
                                <p class="text-muted">Inicie sessão na sua conta</p>
                                <div class="input-group mb-3">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="email">
                                </div>
                                <div class="input-group mb-4">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password">
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary px-4" (click)="login()" [disabled]="loading">
                                            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                            <span *ngIf="!loading">Iniciar sessão</span>
                                        </button>
                                    </div>
                                    <!-- <div class="col-6 text-right">
                                        <button type="submit" class="btn btn-link px-0">Esqueçeu-se da password?</button>
                                    </div> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
