<form (ngSubmit)="create()" novalidate #f="ngForm">
    
    <div class="modal-header">
        <h4 class="modal-title pull-left">Criar prescrição</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Fármaco</label>
                    <select #farmaco="ngModel" name="farmaco" class="form-control" [(ngModel)]="form.idFarmaco" 
                    (ngModelChange)="selectChanged('idApresentacao')" required [ngClass]="{'is-invalid': isInvalid(farmaco)}" size>
                        <option *ngFor="let farmaco of farmacos" [ngValue]="farmaco.id">{{farmaco.nome}}</option>
                    </select>
                    <div class="invalid-feedback">Este campo é obrigatório</div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Apresentação</label>
                    <select #apresentacao="ngModel" name="apresentacao" class="form-control" [(ngModel)]="form.idApresentacao" 
                    (ngModelChange)="selectChanged('idMedicamento')" required [ngClass]="{'is-invalid': isInvalid(apresentacao)}" size>
                        <option *ngFor="let apresentacao of apresentacoes | filter: 'farmacoId':form.idFarmaco" [ngValue]="apresentacao.id">
                            {{apresentacao.forma}}, {{apresentacao.concentracao}}, {{apresentacao.quantidade}}
                        </option>
                    </select>
                    <div class="invalid-feedback">Este campo é obrigatório</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Medicamento</label>
                    <select #medicamento="ngModel" name="medicamento" class="form-control" [(ngModel)]="form.idMedicamento" 
                    (ngModelChange)="updatePosologias()" [ngClass]="{'is-invalid': isInvalid(medicamento)}" size>
                        <option value="0">---</option>
                        <option *ngFor="let medicamento of medicamentos | filter: 'apresentacaoId':form.idApresentacao" [ngValue]="medicamento.id">
                            {{medicamento.nome}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Posologia</label>
                    <input type="text" #posologia="ngModel" name="posologia" class="form-control" [(ngModel)]="form.posologia" 
                    [tooltip]="popTemplate" [isDisabled]="posologias == ''" required [ngClass]="{'is-invalid': isInvalid(posologia)}">
                    <div class="invalid-feedback">Este campo é obrigatório</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group" [ngClass]="">
                    <label>Data de validade</label>
                    <div class="input-group" [ngClass]="{'is-invalid': isInvalid(dataValidade)}">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" #dataValidade="ngModel" class="form-control" [minDate]="minDate" name="dataValidade"
                        bsDatepicker [(bsValue)]="form.dataValidade" [(ngModel)]="form.dataValidade" required [bsConfig]="bsConfig">
                    </div>
                    <div class="invalid-feedback">Este campo é obrigatório</div>                    
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Quantidade</label>
                    <input #quantidade="ngModel" name="quantidade" type="number" class="form-control" 
                    [(ngModel)]="form.quantidade" required [ngClass]="{'is-invalid': isInvalid(quantidade)}" min="1">
                    <div class="invalid-feedback">Este campo é obrigatório</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" [disabled]="f.invalid">
            <i class="fa fa-save"></i> Guardar
        </button>
        <button type="button" class="btn btn-danger" (click)="cancel()">
            <i class="fa fa-times-circle"></i> Fechar
        </button>
    </div>
</form>
<ng-template #popTemplate><div [innerHtml]="posologias"></div></ng-template>