<div class="animated fadeIn">
    <div class="row justify-content-center ">
        <div class="col-sm-6 " *ngIf="authService.hasRole('utente')">

            <div class="card">
                <div class="card-block">
                    <small class="text-muted text-uppercase font-weight-bold">Medicamento mais tomado</small>
                    <div class="h1 text-muted text-right mb-2">
                        <i class="fa fa-plus-square"></i>
                    </div>
                    <div class="h4 mb-0">{{medTomado.medicamento}}</div>
                    <small class="text-muted text-uppercase font-weight-bold">{{medTomado.quantidade}} usados por você</small>
                    <div class="progress progress-xs mt-1 mb-0">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <div class="row justify-content-center ">
            <div class="col-sm-6 " *ngIf="authService.hasRole('medico')">
    
                <div class="card">
                    <div class="card-block">
                        </div>
                        <select name="choose" class="form-control" [(ngModel)]="model.data" 
                            placeholder="data" (ngModelChange)="chooseData()" size >
                            <option *ngFor="let choos of choose" [ngValue]="choos">{{choos}}</option>
                        </select>
                        <div class="card-body">
                        <div class="h1 text-muted text-right mb-2">
                            <i class="fa fa-plus-square"></i>
                        </div>
                        <div class="h4 mb-0">{{info.nome}}</div>
                        <small class="text-muted text-uppercase font-weight-bold">{{info.quantidade}} prescritos por você</small>
                        <div class="progress progress-xs mt-1 mb-0">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    Prescrições
                </div>
                <div class="card-body">
                    <div class="chart-wrapper text-center">
                        <i class="fa fa-spin fa-spinner" *ngIf="pies.prescricoes.loading"></i>
                        <canvas baseChart class="chart" [data]="pies.prescricoes.data" [labels]="pies.prescricoes.labels" chartType="doughnut" *ngIf="!pies.prescricoes.loading"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12" *ngIf="authService.hasRole('utente')">
            <div class="card">
                <div class="card-header">
                    Próximas prescrições
                </div>
                <div class="card-body">
                    <div class="chart-wrapper text-center">
                        <i class="fa fa-spin fa-spinner" *ngIf="pies.utente.loading"></i>
                        <canvas baseChart class="chart-bar" [data]="pies.utente.data" [labels]="pies.utente.labels" [options]="pies.utente.options"
                            chartType="bar" *ngIf="!pies.utente.loading"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12" *ngIf="authService.hasRole('medico')">
                <div class="card">
                    <div class="card-header">
                        Fármacos prescritos
                    </div>
                    <div class="card-body">
                        <div class="chart-wrapper text-center">
                            <i class="fa fa-spin fa-spinner" *ngIf="pies.farmacos.loading"></i>
                            <canvas baseChart class="chart-bar" [data]="pies.farmacos.data" [labels]="pies.farmacos.labels" [options]="pies.farmacos.options"
                                chartType="bar" *ngIf="!pies.farmacos.loading"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>