<div class="app flex-row align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card mx-4">
					<div class="card-body p-4">
						<h1>Registe-se</h1>
						<p class="text-muted">Crie a sua conta</p>
						<div class="input-group mb-3">
							<span class="input-group-addon">
								<i class="fa fa-envelope"></i>
							</span>
							<input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="email">
						</div>

						<div class="input-group mb-3">
							<span class="input-group-addon">
								<i class="fa fa-user"></i>
							</span>
							<input type="text" class="form-control" placeholder="Nome" name="name" [(ngModel)]="name">
						</div>

						<div class="input-group mb-3">
							<span class="input-group-addon">
								<i class="fa fa-lock"></i>
							</span>
							<input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password">
						</div>

						<div class="input-group mb-4">
							<span class="input-group-addon">
								<i class="fa fa-lock"></i>
							</span>
							<input type="password" class="form-control" placeholder="Repita a password" name="password2" [(ngModel)]="passwordConfirmation">
						</div>

						<button type="submit" class="btn btn-block btn-success mb-3" (click)="openModal(template)" [disabled]="loading">
							<i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
							<i class="fa fa-save" *ngIf="!loading"></i>
							<span *ngIf="!loading">Criar conta</span>
						</button>
						<a class="btn btn-primary btn-block" routerLink="/auth/login">
							<i class="fa fa-external-link" aria-hidden="true"></i>
							Já tenho conta. Iniciar sessão
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #template>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Regulamento Geral de Proteção de Dados</h4>
	</div>
	<div class="modal-body">
		<p>Ao continuar com o registo na nossa aplicação está a dar-nos permissão para fazer o tratamentos dos seus dados pessoais
			das seguintes formas:</p>
		<ul>
			<li>Como paciente, os seus dados pessoais como o seu nome, idade e dados sensíveis relativos à saúde poderão ser visualizados
				e/ou modificados pelos seus médicos caso se justifique;</li>
			<li>Como paciente, terá acesso ao nome, especialidade e local de trabalho dos médicos a si associados;</li>
			<li>Como paciente, os seus dados pessoais poderão ser acedidos por farmacêuticos no momento em que uma das suas receitas seja
				aviada;
			</li>
			<li>Como paciente, os seus contactos poderão ser utilizados para que seja contactado sobre a dosagem dos seus medicamentos;</li>
			<li>Como médico, os seus dados pessoais serão armazenados e apenas a indicação do seu nome, especialidade e local de trabalho
				poderão ser transmitidos aos pacientes que acompanhar ou aos farmacêuticos que aviarem receitas por si prescritas;</li>
			<li>Como paciente/médico/farmacêutico, os seus dados pessoais poderão ser monitorizados para efeitos estatísticos;</li>
			<li>Como farmacêutico, os seus dados pessoais como o seu nome e local onde exerce a sua profissão poderão ser visualizados tanto por médicos
				como pacientes;</li>
			<li>Como farmacêutico, os seus contactos poderão ser utilizados para que seja contactado pelos seus pacientes ou por avisos
				automáticos do nosso sistema.</li>
			<li>Todos os dados inseridos, pelos diversos utilizadores, nesta aplicação possuem um prazo de conservação. Após <strong>um (1) mês</strong> da inserção dos dados, estes estarão 
					sujeitos a uma revisão com o objetivo final de manter a informação, relativa aos usuários, atualizada; </li>
			<li>Todos os utilizadores, que se encontrem em inatividade há <strong>seis (6) meses</strong>, terão todos os seus dados eliminados.</li>
		</ul>

		<p>
			<strong>Se leu e concorda com os termos acima indicados clique no botão abaixo para continuar com o seu registo, caso contrário
				clique fora desta caixa para sair. </strong>
		</p>

		<button type="submit" class="btn btn-block btn-info" (click)="register()" [disabled]="loading">
			<i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
			<span *ngIf="!loading">Continuar</span>
		</button>

		<div *ngIf="errors.length">
			<h2>Erros</h2>
			<ul class="bg-danger">
				<li *ngFor="let error of errors">
					{{error}}
				</li>
			</ul>
		</div>
	</div>
</ng-template>