<form (ngSubmit)="addComment()" novalidate #f="ngForm">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Comentários da apresentação</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <table class="table table-hover table-striped table-bordered table-responsive table-sm">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Data</th>
                            <th>Comentário</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="comentarios.length == 0 && !loading">
                            <td colspan="2" class="text-center">Ainda não foram efetuados comentários</td>
                        </tr>
                        <tr *ngIf="loading">
                            <td colspan="2" class="text-center">
                                <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr *ngFor="let comentario of comentarios">
                            <td>{{comentario.data | formatDate}}</td>
                            <td>{{comentario.texto}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="authService.hasRole('medico')">
            <hr>
            <div class="row mt-3" >
                <div class="col">
                    <h5>Adicionar um comentário</h5>
                </div>
            </div>
            <div class="form-group row mt-2">
                <div class="col-md-12">
                    <textarea name="comment" #comentario="ngModel" rows="5" [(ngModel)]="comment" class="form-control" placeholder="Comentário..." required [ngClass]="{'is-invalid': isInvalid(comentario)}" ></textarea>
                    <div class="invalid-feedback">É obrigatório inserir um comentário</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" *ngIf="authService.hasRole('medico')" [disabled]="f.invalid || creating">
            <i class="fa fa-save" *ngIf="!creating"></i> 
            <i class="fa fa-spin fa-spinner" *ngIf="creating"></i>
            Guardar
        </button>
        <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">
            <i class="fa fa-times-circle"></i> Fechar
        </button>
    </div>
</form>